body{
  background-color: #75829C;
  background-image: linear-gradient(225deg, #A4999E 50%, #75829C 50%, #012739 0%);
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container{
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 900px;
  height: 552px;
  border-radius: 10px;
  overflow: hidden;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size:contain;
  
}

.right{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.name-input {
  display: flex;
  gap: 60px;
  margin: 10px;
}
.title{
  color: #012739;
  font-family: Roboto Flex;
}

label{
  color: #012739;
  display: flex;
  font-weight: 700;
  font-size: 12px;
  font-family: Roboto Flex;
  margin-bottom: 5px;
}
.input{
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px gray solid;
  border-radius: 5px;
  background: white;
  color: black;
}
.condition{
  display: flex;
}
.checkbox{
  margin-right: 10px;
}
.btn{
  /* background-image: linear-gradient(225deg, #A4999E 100%, #75829C 51%, #012739 0%); */
  background-color: #A4999E;
  width: 50%;
  font-family: Roboto Flex;
  border-radius: 25px;
  padding-block: 10px;
  border: none;
  color: white;
  cursor: pointer;
  height: 45px;
}
.btn:hover {
  background-color: #fff;
  border: 2px solid #A4999E;
  color: #A4999E;
}
h2{
  color: #012739;
  font-family: Roboto Flex;
}
span{
  color: #A4999E;
}
p{
  color: #012739;
  font-family: Roboto Flex;
}
a{
  color: #A4999E;
  cursor: pointer;
}